{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container-slider">
    <div class="horizontal-scroll">
        <button onclick="scrollHorizontally(1)" class="btn-scroll" id="btn-scroll-left"><i class="fas fa-chevron-left"></i></button>
        <button onclick="scrollHorizontally(-1)" class="btn-scroll" id="btn-scroll-right"><i class="fas fa-chevron-right"></i></button>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4469701/avatar.png?width=400"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>Test</p>
                </div>
            </div>
            <!--End image section-->
        </div>
    </div>
</div>